body {
  font-family: Garamond;
}

.title, footer {
  text-align: center;
  overflow: hidden;
  background-color: white;
}

/* Style list items in Nav */
nav li {
	display: block;
	float: left;
	padding: 1rem;
	position: relative;
}

/* Style nested unordered list in Nav */
nav ul li ul {
	visibility: hidden;
	position: absolute;
	left: 0;
  display: none;
}

/* Make nested unordered list visible on hover */
nav ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}